{% extends 'layout.html' %}
{% load staticfiles %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contato" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                    <div>
                        <h1>QUEM SOMOS</h1>
                    </div>
                </div>  
        </div>

        <div class="divAllQuemSomos">
            <div class="somos-img">
                <dv>
                    <h2>GESTÃO 2018</h2>
                </dv>
            </div>
            <div class="imagens-somos">
                <img src="https://static.wixstatic.com/media/bd67ab_0cfa430de2834fa4af23d2feeecdcf1a~mv2.jpg/v1/fill/w_744,h_486,al_c,q_90/bd67ab_0cfa430de2834fa4af23d2feeecdcf1a~mv2.webp" alt="">
            </div>
            <div id="text-somos">
                <p>A G.A Júnior foi fundada em 2014, é uma empresa especializada em Soluções de Gestão Ambiental, sem fins lucrativos, formada por graduandos do curso de Gestão Ambiental oferecido pela Universidade de São Paulo.
                    <br> <br>
                A crescente preocupação com o meio ambiente e o impacto que os produtos causam sobre ele fez com que a G.A Júnior se moldasse ao mercado. Por isso, temos como objetivo oferecer desafios aos futuros gestores ambientais, de modo que sejam capazes de empreender em soluções ambientais e socioambientais, solucionando os problemas e necessidades dos mais diversos negócios.
                    <br> <br>
                    Nossa empresa engaja-se por inteiro em cada projeto para que todos obtenham a máxima excelência e efetivo comprometimento com a ética em sustentabilidade.
            </p>
            </div>
            <div class="imagens-somos">
                <img src="{% static 'imgs/somos-fundo.png' %}" alt="">
            </div>    
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->