{% extends 'layout.html' %}
{% load staticfiles %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contato" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                    <div>
                        <h1>SERVIÇOS</h1>
                    </div>
                </div>  
        </div>

        <div class="divAllServicos">
            <div class="servicos-block">
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/indice-poluentes.png' %}" alt=""></div>
                        <div class="bloco-serv">
                                <div><h2 class="blocoservh2">ÍNDICE DE POLUENTES</h2></div>
                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                <div class="btt-bloco"><a href="{% url 'poluentes' %}"><button class="saiba-mais">Saiba mais</button></a>
                                </div>
                        </div>
                </div>
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/educa-serv.png' %}" alt=""></div>
                        <div class="bloco-serv">
                                <div><h2 class="blocoservh2">EDUCAÇÃO AMBIENTAL</h2></div>
                                <div><p>Auxiliamos com a sensibilização e educação do público de interesse através de palestras, bem como de intervenções artísticas.</p></div>
                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                        </div>
                </div>
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/residuos.png' %}" alt=""></div>
                        <div class="bloco-serv">
                                <div><h2 class="blocoservh2">PLANEJAMENTO DE EFICIÊNCIA
                                        NA UTILIZAÇÃO DE RECURSOS</h2></div>
                                <div><p>
                                                Analisamos os hábitos e processos internos da sua empresa tornando-os mais sustentáveis e reduzindo seus custos.
                                </p></div>
                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                        </div>
                </div>
            </div>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->