{% extends 'layout.html' %}
{% load staticfiles %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contato" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                    <div>
                        <h1>SERVIÇOS</h1>
                    </div>
                </div>  
        </div>

        <div class="divAllServicos">
            <div class="servicos-block">
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/recicla-front.png' %}" alt=""></div>
                        <div class="bloco-text">
                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                        </div>
                </div>
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/recicla-front.png' %}" alt=""></div>
                        <div class="bloco-text">
                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                        </div>
                </div>
                <div class="Allservicos-bloco">
                        <div class="bloco-img"><img src="{% static 'imgs/recicla-front.png' %}" alt=""></div>
                        <div class="bloco-text">
                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                        </div>
                </div>
                <a href="{% url 'poluentes' %}">ALO</a>
            </div>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->