{% extends 'layout.html' %}
{% load staticfiles %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contato" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                    <div>
                        <h1>PROJETOS </h1>
                    </div>
                </div>  
        </div>

        <div class="divAllProjetos">
                <div class="AllProjetos-blocos">
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/recicla-front.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                                <div><p>A Escola de Artes, Ciências e Humanidades da Universidade de São Paulo (EACH-USP) procurou a G.A Júnior para realizar a entrega de canecas da USP Recicla para mais de 1000 ingressantes do ano de 2017. Essa iniciativa se baseou no projeto dos 3R's...</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/vila-butanta.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">VILA BUTANTAN</h2></div>
                                                <div><p>A Vila Butantan se caracteriza por ser um espaço de convivência que aposta no novo conceito de viver na cidade. A Vila conta com espaços que unem arte, gastronomia e cultura, além de ser um modelo sustentável por reutilizar contêineres marítimos, marca registrada do local.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/sem-copinhos.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="h2-bloco">UM DIA SEM COPINHOS</h2></div>
                                                <div><p>A partir de uma iniciativa conjunta entre a Empresa Júnior de Gestão Ambiental (G.A Júnior.), a Comissão Ambiental da Biologia (CAMBIO) e o Centro Acadêmico de Engenharia Ambiental da Escola Politécnica (CAEA), instituiu-se o projeto "Fora Copos USP"...</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/pjt-copinhos.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="h2-bloco">PROJETO DOS COPINHOS</h2></div>
                                                <div><p>A G.A Júnior iniciou uma campanha que incentivava a utilização de canecas duráveis na EACH-USP, contando com o apoio do Diretório Acadêmico de Gestão Ambiental (DAGA), os estudantes coletaram mais de 2 mil copos plásticos em dois dias...</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/argis.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">CURSO ARCGIS</h2></div>
                                                <div><p>Curso com intuito de aperfeiçoar profissionais para o uso de técnicas de geoprocessamento. O curso é oferecido esporadicamente para os alunos aperfeiçoarem essas tecnicas que são essenciais para o desenvolvimento de Gestores Ambientais.
                                                </p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/each-recicla.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">EACH RECICLA</h2></div>
                                                <div><p>
                                                        A empresa Básica Refeições, responsável por gerir as refeições no espaço destinado ao Restaurante Universitário (RU) dentro da EACH-USP, patrocinou a continuação do Projeto dos Copinhos da G.A Júnior e adquiriu 1300 canecas sob a marca EACH Recicla USP.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->