{% extends 'layout.html' %}
{% load staticfiles %}

<!--  -->
<!-- LAYOUT_HEADER -->
<!--  -->

{% block content %}

        <div class="header-div">
                <div>
                    <div>
                        <img class="logo-contato" src="{% static 'imgs/logo.png' %}" alt="logo GA">
                    </div>
                    <div>
                        <h1>PROJETOS </h1>
                    </div>
                </div>  
        </div>

        <div class="divAllProjetos">
                <div class="AllProjetos-blocos">
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/each-recicla.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/vila-butanta.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">VILA BUTANTAN</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/sem-copinhos.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="h2-bloco">UM DIA SEM COPINHOS</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/pjt-copinhos.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="h2-bloco">PROJETO DOS COPINHOS</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                        <div class="AllProjetos-flex">
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/each-recicla.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">RECICLA USP</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                                <div class="AllProjetos-bloco">
                                        <div class="bloco-img"><img src="{% static 'imgs/vila-butanta.png' %}" alt=""></div>
                                        <div class="bloco-text">
                                                <div><h2 class="blocoh2">VILA BUTANTAN</h2></div>
                                                <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, tempore culpa corrupti facere commodi perspiciatis quia molestias vel sapiente a. Voluptatibus, quo. Voluptate expedita iure obcaecati dolores voluptatibus, sequi praesentium.</p></div>
                                                <div class="btt-bloco"><button class="saiba-mais">Saiba mais</button></div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}

<!--  -->
<!-- LAYOUT_FOOTER -->
<!--  -->